   ul, ol {
    list-style-type: none; 
}

a {
    text-decoration: none; 
    color: inherit; 
}

:root {
    --primary-black-color: #000000;
    --primary-orange-color:#FD9222;
    --primary-white-color:#FFFFFF;
    --primary-violet-color: #1e1823;
    --primary-text-color:#111111;
    --primary-grey-color: #ffffffb2;
    --primary-grey-text-color:rgba(255, 255, 255, 0.70);
    --primary-input-color:rgba(255, 255, 255, 0.30);
    --primary-dark-grey-color: rgba(17, 17, 17, 0.70);
    }

body{
    background-color: blueviolet;
}


.header-logo {
    color: var(--primary-text-color)
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1,11; 
    letter-spacing: -0.54px;
}


.header-simply {
    color: var(--primary-text-color)
    font-family: Montserrat;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    line-height: 1,11; 
    letter-spacing: -0.54px;
}

.header-nav-list-item {
    color: var(--primary-text-color)
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1,14;
    letter-spacing: -0.28px;
    
}

.hero-desc{
    color:var(--primary-white-color);
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 1,21;
    letter-spacing: -0.84px;
}

.hero-buy-btn{
    color: var(--primary-white-color);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    
}

.hero-made-btn{
    color:var(--primary-white-color);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.hero-scroll{
    color: var(--primary-white-color);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1,28;
    letter-spacing: -0.42px;
}

.benefits-item-title{
    color: var(--primary-white-color);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.benefits-item-desc{
    color:var(--primary-grey-text-color);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
}

.blocks-title{
    color: var(--primary-text-color);
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1,16;
    letter-spacing: -0.72px;
    text-transform: uppercase;
}

.block-taste{
    color: var(--primary-orange-color);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1,16;
    letter-spacing: -0.72px;
    text-transform: uppercase;
}

.blocks-img-name-w{
    color: var(--primary-white-color);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 1,28;
    letter-spacing: -0.28px;
    text-transform: uppercase;
}

.blocks-img-name-b{
    color: var(--primary-text-color);
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 1,28;
letter-spacing: -0.28px;
text-transform: uppercase;
}

.made-title{
    color: var(--primary-text-color);
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1,16;
    letter-spacing: -0.72px;
    text-transform: uppercase;
}

.made{
    color: var(--primary-orange-color);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1,16;
    letter-spacing: -0.72px;
    text-transform: uppercase;
}

.made-desc{
    color: var(--primary-text-color);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 1,33;
}

.made-list-item{
    color: var(--primary-text-color);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1,28;
    letter-spacing: -0.28px;
}

.chocolate{
    color: var(--primary-orange-color);
text-align: center;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 1,16;
letter-spacing: -0.72px;
text-transform: uppercase;
}

.reviews-section-title{
    color: var(--primary-text-color);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1,16;
    letter-spacing: -0.72px;
    text-transform: uppercase;
}

.reviews-item-title{
    color: var(--primary-text-color);
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 1,33;
}

.reviews-item-desc{
    color: var(--primary-dark-grey-color);
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1,28;
    letter-spacing: -0.28px;
}

.reviews-btn{
    color: #111;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer-chocolade{
    color: var(--primary-orange-color);
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 1,21;
    letter-spacing: -0.56px;
}

.footer-title{
    color:var(--primary-white-color);
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 1,21;
    letter-spacing: -0.56px;
}

.footer-contact{
    color:var(--primary-white-color);
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1,28;
}

.footer-tel{
    color:var(--primary-white-color);
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1,28;
    letter-spacing: -0.28px;
}

.footer-mail{
    color: var(--primary-white-color);
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1,28;
    letter-spacing: -0.28px;
}

.footer-list-item{
    color:var(--primary-white-color);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1,14;
    letter-spacing: -0.28px;
}

.footer-input{
    color:var(--primary-input-color);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px; 
}

.footer-btn{
    color:var(--primary-white-color);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}